<!DOCTYPE html>
<html>
<head>
  <title>Testrepo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>THE MAIN PROBLEM</h1>
<p> hi </p> LOL
<p> double hi </p> LOL



<%= yield %>

</body>
</html>
